@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic&family=Reenie+Beanie&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic&family=Nunito:wght@200&family=Reenie+Beanie&family=Roboto:wght@300&display=swap');
@import url('http://fonts.cdnfonts.com/css/pecita');
@import url('http://fonts.cdnfonts.com/css/antic');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.admin-header{
    display: flex;
    padding: 2px;
    flex-direction: row;
    justify-content: end;
}
.admin{
    width: 10%;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.admin__image{
    border-radius: 50px;
    margin-right: 5px;
}
.admin__name{
    font-family: Roboto;
}
.w1{
    grid-area: links;
}
.w2{
    grid-area: body;
}
.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.left-nav{
    background-color: #018471;
    border-radius: 10px;
    padding: 15px;
    min-height: 800px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nav__title{
    font-family: Antic;
    font-size: 30px;
    color: white;
    text-align: center;
}
.nav__list{
    list-style-type: none;
    position: relative;
    bottom: 475px;
}
.nav__item{
    margin: 10px;
    padding: 10px;
    font-size: 20px;
}
.nav__item > a{
    text-decoration: none;
    font-family: Antic;
    color: white;
}
.down{
    position: relative;
    top: 380px
}
.active{
    background-color: white;
    border-radius: 5px;
}
.active > a, .active > i{
    color: #018471;
}
.dash-title{
    background-color: #F5F5F5;
    color: #018471;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px;
}
.dash-title > h1{
    font-family: Antic;
    font-size: 20px;
}
.dash-content{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 60%;
}
.summary{
    background-color: #F5F5F5;
    width: 70%;
    padding: 90px;
    margin: 20px auto;
}
.summary__item{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
}
.summary__title, .summary__value{
    font-family: Antic;
    font-size: 27px;
}
.nav__icon{
    color: white;
    margin-right: 5px;
}
.message, .blog{
    color: #018471;
    font-size: 60px;
}
.search{
    border: none;
    border-radius: 10px;
    font-size: 16px;
    padding: 15px 30px;
    border: 1px solid #018471;
}
.add-blog{
    padding: 11px 30px;
    width: 100%;
    font-family: Antic;
    font-size: 24px;
    background-color: #018471;
    color: white;
    border: none;
    border-radius: 10px;
}
.blog-cart{
    width: 100%;
    border-radius: 10px;
    background-color: #F5F5F5;
    margin-top: 20px;
    padding: 40px;
}
.blogs{
    width: 97%;
    border-collapse: collapse;
    font-family: Antic;
    font-size: 20px;
    background-color: white;
}
.blogs td, .blogs th{
    padding: 25px;
}
.blogs th {
    text-align: left;
    background-color: #018471;
    color: white;
  }
.more{
    display: none;
}
@media only screen and (max-width: 768px) {
    .header__logo {
        font-size: 22px;
        margin: 8px 0 0 20px;
    }
    .item2 {
        display: none;
    }
    .item3 {
        display: none;
    }
    .profile__title {
        font-size: 18px;
        text-align: center;
    }
    .profile__content {
        font-size: 14px;
        text-align: center;
    }
    .stack {
        display: contents;
        width: 0%;
        margin: auto;
        padding: 0px;
        position: relative;
        top: -30px;
        border-radius: 10px;
        background-color: white;
        z-index: 1;
    }
    .stack__designer {
        border-right: none;
    }
    .footer__title {
        font-size: 24px;
    }
    .footer__content {
        font-size: 24px;
        text-align: center;
        width: 90%;
    }
    .footer__form {
        width: 70%;
        display: contents;
    }
    .footer__email {
        padding: 14px;
        width: 60%;
        font-size: 14px;
        margin-top: 20px;
    }
    .footer__btn {
        border-radius: 10px;
        padding: 10px;
        font-size: 18px;
        margin-top: 5px;
        margin-bottom: 5px;
        width: 60%;
    }
    .card {
        width: 100%;
        padding: 20px;
    }
    .card__title {
        font-size: 13px;
    }
    .card--more {
        padding: 8px;
        font-size: 14px;
    }
    .contact {
        width: 90%;
    }
    .contact__title {
        font-size: 40px;
    }
    .contact__name, .contact__email, .contact__subject, .contact__message{
        width: 100%;
    }
    .contact__btn {
        padding: 10px;
        font-size: 14px;
    }
    .login {
        width: auto;
    }
}
